.common {
    margin-top: 24.16px;
    color: var(--info);

    .calendario {
        margin-right: 6px;
    }

    .user {
        margin-left: 26.21px;
        margin-right: 6px;
    }

    .clock {
        margin-left: 26.21px;
    }
}